page-login {
		    #rounded {
        width: 100%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }

    #container {
        width: 90; 
        margin-left:5%; 
        margin-right: 5%; 
    }

}

ion-content {
	background: #8DE3F9;
}

