<ion-header>

  <ion-navbar>
    <ion-title>{{toUser.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="message-wrap">
<ng-container *ngIf="msgList.length > numMsg">
    <div *ngFor="let m of msgList"
    class="message"
    [class.left]=" m.get('UserID').id === toUser.id "
    [class.right]=" m.get('UserID').id === user.id "
         >

      <img class="user-img"  alt="" src="">
      <ion-spinner name="dots" *ngIf="m.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            &nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{m.get('Message')}}</p>
        </div>
      </div>
    </div>
  </ng-container>
    </div>


</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">

    <textarea #chat_input
              placeholder="Text Input"
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>

</ion-footer>
