<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="editProfile()" *ngIf="isCurrentUser">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="info" text-center padding>
    <br/>
    <h4>{{name}}, {{age}}</h4>
  </div>
  <div class="info" padding>
    {{bio}}
  </div>


	<button ion-button block type (click)="sendMessage()" class="btn" *ngIf="!isCurrentUser">
    Send Private Message
  </button>
  <button ion-button block type (click)="inviteToGroup()" class="btn" *ngIf="!isCurrentUser">
    Invite to Group Message
  </button>


</ion-content>
