<!--
  Generated template for the AirportsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Airports</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-searchbar (ionInput)="searchAirports($event)" (ionCancel)="currentSearchString=''" (ionClear)="currentSearchString=''"[showCancelButton]="true"  placeholder="Search All Airports"></ion-searchbar>
  <div *ngIf="currentSearchString == '' || currentSearchString == undefined">
    <p style="text-align: center">Local Airports: </p>
  	<ion-list>
      <ion-card *ngFor=" let airport of airportsInRange">
        <ion-item (click)="goToAirportFeed(airport)">
          <h3>{{airport.iata_code}}</h3>
         	<p>{{airport.name}}</p>
        </ion-item>
    	</ion-card>
  	</ion-list>
  </div>
  <div *ngIf="currentSearchString != '' && currentSearchString != undefined">
	  <ion-list>
      <p style="text-align: center">All Airports:</p>
      <ion-card *ngFor=" let airport of queriedAirports" >
        <ion-item (click)="goToAirportFeed(airport)">
          <h3>{{airport.iata_code}}</h3>
         	<p>{{airport.name}}</p>
        </ion-item>
    	</ion-card>
	  </ion-list>
  </div>
</ion-content>
